<!--suppress ALL -->
<header class="s-header">

    <div class="header__top">
        <div class="header__logo">
            <a class="site-logo" href="../" style="font-size: 30pt; color: white;">
                <!--img src="images/logo.svg" alt="Homepage"-->
                writing
            </a>
        </div>

    </div> <!-- end header__top -->

    <nav class="header__nav-wrap">

        <ul class="header__nav">
            <li><a style="font-size: 18pt;" title="">mathematics</a></li>
            <ul>
                <script>
                    function showNumberTheoryThroughInquiryConceptMap() {
                        console.log("showNumberTheoryThroughInquiryConceptMap()");
                        // Create an iframe popup in front of everything
                        // Render numberTheoryThroughInquiryConceptMap.html in it.
                    }
                </script>
                <li><a href="number-theory-through-inquiry.pdf" target="_blank"><img src="images/NumberTheoryThroughInquiry.png" onclick="showNumberTheoryThroughInquiryConceptMap()" alt=""></a>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="semiotics" href="semiotics">Semiotics</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="the natural numbers" href="the-natural-numbers">$\mathbb{N}$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="the integers" href="the-integers">$\mathbb{Z}$</a></li>
                    </ol>
                    <!--ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="TBD" href="implication">$\Rightarrow$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="TBD" href="bijection">$\Leftrightarrow$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="TBD" href="set-containment">$\mathbb{Z}$</a></li>
                    </ol-->
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="divides" href="d-divides-a">$d | a$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="divides proof" href="proof">$(6|n) \Rightarrow (3|n)$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="logical and of divides" href="proof-theorem-1-1">1.1 Theorem</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence" href="modulo-congruence">$a \equiv b\ \ \ (mod\ n)$</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence proof" href="proof-2">$k \equiv 7\ \ (mod\ 2) \Rightarrow k \equiv 3\ \ (mod\ 2)$</a></li>
                    </ol>
                </li>
            </ul>
        </ul> <!-- end header__nav -->
    </nav> <!-- end header__nav-wrap -->

</header> <!-- end s-header -->
