<!--suppress ALL -->
<header class="s-header">

    <div class="header__top">
        <div class="header__logo">
            <a class="site-logo" href="../" style="font-size: 30pt; color: white;">
                <!--img src="images/logo.svg" alt="Homepage"-->
                interactive curves and surfaces
            </a>
        </div>

    </div> <!-- end header__top -->

    <nav class="header__nav-wrap">

        <ul class="header__nav">
            <li><a style="font-size: 18pt;" title="">1 Introduction to CAGD</a></li>
            <ul>
                <li>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="semiotics" href="semiotics">1 In this topic you will learn, ...</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="the natural numbers" href="the-natural-numbers">2 What CAGD is All About</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="the integers" href="the-integers">3 A Design Challenge The Need for CAGD</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="divides" href="d-divides-a">4 CAGD From Points to Teapots</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="divides proof" href="proof">5 Control Points The Start of CAGD</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="logical and of divides" href="proof-theorem-1-1">6 A CAGD Favorite The Bézier Curve</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence" href="modulo-congruence">7 Three-Dimensional Control Polygons for Surfaces</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence proof" href="proof-2">8 Three-Dimensional Shaded Object</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence proof" href="proof-2">9 The History of CAGD</a></li>
                    </ol>
                    <ol style="margin: 0 0 0 16px; padding: 0;">
                        <li><a style="font-size: 1vmax;" title="modulo congruence proof" href="proof-2">10 What Has Been Accomplished in This Topic</a></li>
                    </ol>
                </li>
            </ul>
        </ul> <!-- end header__nav -->
    </nav> <!-- end header__nav-wrap -->

</header> <!-- end s-header -->
